# Copy this file to terraform.tfvars and fill in your values
# NEVER commit terraform.tfvars to git (add to .gitignore)

project_id   = "project-f0fb8de7-7240-4128-965"
region       = "asia-south1"
zone         = "asia-south1-a"
environment  = "poc"

db_password  = "CHANGE_ME_strong_password_32chars"
db_name      = "janmat"
db_user      = "janmat_user"

# Kill schedule: 11:00 PM IST = 17:30 UTC
db_stop_schedule  = "30 17 * * *"
# Start schedule: 7:00 AM IST = 01:30 UTC
db_start_schedule = "30 1 * * *"

gemini_model = "gemini-2.5-flash-lite"

constituency_id = "KA-BLR-NORTH-01"
